version: '3.8'


services:
  # 1. Main Database
  db:
    image: mysql:8.0
    container_name: stock-db
    environment:
      MYSQL_DATABASE: stock_db
      MYSQL_USER: stock_db_user
      MYSQL_PASSWORD: stock_password
      MYSQL_ROOT_PASSWORD: root_password
    ports:
      - "3307:3306" # 내 컴퓨터의 3307 포트와 연결

  # 2. 메시지 대기열 (Redis)
  redis:
    image: redis:latest
    container_name: stock-redis
    ports:
      - "6380:6379"
      
  # 3. [추가] API Service (우리 애플리케이션)
  api-service:
    build: .
    container_name: stock-api-service
    ports:
      - "8080:8080"
    environment:
      - SPRING_DATASOURCE_URL=jdbc:mysql://db:3306/stock_db?allowPublicKeyRetrieval=true&useSSL=false
      - SPRING_DATA_REDIS_HOST=redis
      - SPRING_DATA_REDIS_PORT=6379
    depends_on:
      - db
      - redis
