version: '3.8'


services:
  # 1. Main Database
    db:
      image: mysql:8.0
      container_name: stock-db
      environment:
        MYSQL_DATABASE: stock_db
        MYSQL_USER: stock_db_user
        MYSQL_PASSWORD: stock_password
        MYSQL_ROOT_PASSWORD: root_password
      ports:
        - "3307:3306" # 내 컴퓨터의 3306 포트와 연결

    # 2. 메시지 대기열 (Redis)
    redis:
      image: redis:latest
      container_name: stock-redis
      ports:
        - "6380:6379"
